export default {
    apiKey: "AIzaSyCEGof8HXkic1O9l3G3YSvn7jK4f7rlCsY",
    authDomain: "nikeda-data-example.firebaseapp.com",
    databaseURL: "https://nikeda-data-example-default-rtdb.firebaseio.com",
    projectId: "nikeda-data-example",
    storageBucket: "nikeda-data-example.appspot.com",
    messagingSenderId: "549598749447",
    appId: "1:549598749447:web:45d5f3d3359113ab7c5ba2",
 }
